.register{
	margin: 40px auto;

}
body,table{
	margin: auto;
	padding: 0;
	text-align: center;

}
.container ul{
	list-style: none;
}
.container li{
	display: inline-block;
}
.container li a{
	font-size: 20px;
	margin: 20px;
}
.file{
	margin: 20px auto;
}
